<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

	<menuitem name="bike-root" title="Les bicyclettes" order="-84"  if="__config__.app.isApp('bike')"
		icon="fa-bicycle"  icon-background="#555555"/>

	<menuitem name="bike-root-rv" parent="bike-root" order="100"
			  title="Modèles RV"/>

	<menuitem name="bike-root-rv-favorites" parent="bike-root-rv" order="105"
			  title="Favoris" action="bike.root.products.rv.favorites" />

	<menuitem name="bike-root-rv-01" parent="bike-root-rv" order="110"
			  title="RV 01" action="bike.root.products.rv.01" />

	<menuitem name="bike-root-rv-65" parent="bike-root-rv" order="120"
			  title="RV 65" action="bike.root.products.65" />

	<menuitem name="bike-root-rv-XX" parent="bike-root-rv" order="130"
			  title="RV XX" action="bike.root.products.XX" />

	<menuitem name="bike-root-rv-comp" parent="bike-root-rv" order="140"
			  title="Pièces détachées" action="bike.root.products.parts" />

	<menuitem name="bike-root-rv-acc" parent="bike-root" order="200"
			  title="Accessoires" action="bike.root.products.accessories" />

	<menuitem name="bike-root-goods" parent="bike-root" order="300"
			  title="Goodies" action="bike.root.products.goods" />

	<!-- Favorites -->
	<action-view name="bike.root.products.rv.favorites" title="Modèles Favoris"
				 model="com.axelor.apps.base.db.Product" >
		<view type="grid" name="bike-grid-rv-favorites" />
		<view type="form" name="product-form" />
		<view type="cards" name="product-cards" />
		<view-param name="limit" value="100"/>
		<view-param name="search-filters" value="bike-rv01-filters"/>
		<domain>self.isModel = false and self.code like 'PF-%' and self.attrs.RV_FAVORITE = 'true' and self.sellable=true and self.productTypeSelect = 'storable'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
		<context name="_fromProduction" expr="eval:true" />
	</action-view>

	<!-- RV01 -->
	<action-view name="bike.root.products.rv.01" title="Modèles RV01"
		model="com.axelor.apps.base.db.Product" >
		<view type="grid" name="bike-grid-rv-01" />
		<view type="form" name="product-form" />
		<view type="cards" name="product-cards" />
		<view-param name="limit" value="100"/>
		<view-param name="search-filters" value="bike-rv-01-filters"/>
		<domain>self.isModel = false and self.code like 'PF-%' and self.attrs.MODEL = 'RV01' and self.sellable=true and self.productTypeSelect = 'storable'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
		<context name="_fromProduction" expr="eval:true" />
	</action-view>
	<!-- RV65 -->
	<action-view name="bike.root.products.65" title="Modèles RV65"
				 model="com.axelor.apps.base.db.Product" >
		<view type="grid" name="bike-grid-rv-65" />
		<view type="form" name="product-form" />
		<view type="cards" name="product-cards" />
		<view-param name="limit" value="100"/>
		<view-param name="search-filters" value="bike-rv-65-filters"/>
		<domain>self.isModel = false and self.code like 'PF-%' and self.attrs.MODEL = 'RV65' and self.sellable=true and self.productTypeSelect = 'storable'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
		<context name="_fromProduction" expr="eval:true" />
	</action-view>
	<!-- RVXX -->
	<action-view name="bike.root.products.XX" title="Modèles RVXX"
				 model="com.axelor.apps.base.db.Product" >
		<view type="grid" name="bike-grid-rv-XX" />
		<view type="form" name="product-form" />
		<view type="cards" name="product-cards" />
		<view-param name="limit" value="100"/>
		<view-param name="search-filters" value="products-filters"/>
		<domain>self.isModel = false and self.code like 'PF-%' and self.attrs.MODEL = 'RVXX' and self.sellable=true and self.productTypeSelect = 'storable'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
		<context name="_fromProduction" expr="eval:true" />
	</action-view>
	<!-- ACCESSOIRES -->
	<action-view name="bike.root.products.accessories" title="Accessoires"
				 model="com.axelor.apps.base.db.Product" >
		<view type="grid" name="bike-grid-accessories" />
		<view type="form" name="product-form" />
		<view type="cards" name="product-cards" />
		<view-param name="limit" value="100"/>
		<view-param name="search-filters" value="products-filters"/>
		<domain>self.isModel = false and self.productFamily.code = 'ACC' and self.sellable=true and self.productTypeSelect = 'storable'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
		<context name="_fromProduction" expr="eval:true" />
	</action-view>
	<!-- PARTS -->
	<action-view name="bike.root.products.parts" title="Pièces détachées"
				 model="com.axelor.apps.base.db.Product" >
		<view type="grid" name="bike-grid-parts" />
		<view type="form" name="product-form" />
		<view type="cards" name="product-cards" />
		<view-param name="limit" value="100"/>
		<view-param name="search-filters" value="products-filters"/>
		<domain>self.isModel = false and self.productFamily.code = 'COMP' and self.sellable=true and self.productTypeSelect = 'storable'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
		<context name="_fromProduction" expr="eval:true" />
	</action-view>

	<!-- GOODS -->
	<action-view name="bike.root.products.goods" title="Goodies"
				 model="com.axelor.apps.base.db.Product" >
		<view type="grid" name="bike-grid-parts" />
		<view type="form" name="product-form" />
		<view type="cards" name="product-cards" />
		<view-param name="limit" value="100"/>
		<view-param name="search-filters" value="products-filters"/>
		<domain>self.isModel = false and self.productFamily.code = 'GOOD' and self.sellable=true and self.productTypeSelect = 'storable'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
		<context name="_fromProduction" expr="eval:true" />
	</action-view>

	<action-method name="action-bike-add-favorite" >
		<call class="com.axelor.apps.bike.web.ProductGeneratorController" method="addToFavorite"/>
	</action-method>

	<action-record name="bike.remove.favorite" model="com.axelor.apps.base.db.Product" search="self.code = :code">
		<field name="attrs.RV_FAVORITE" expr="false" />
	</action-record>


</object-views>
